<% provide(:title, 'All users') %>
<div class="row">
  <aside>
    <section>
    <h3>All users</h3>
    <div class="stats">
      <a>
        <strong class="stat" style="font-size: 22px;">
          <%= @numUsers %>
        </strong>
        users
      </a>
      <a>
        <strong class="stat" style="font-size: 22px;">
          <%= pretty_money(@user, @total) %>
        </strong>
        entered
      </a>
    </div>
    </section>
    <section>
      <strong class="stat" style="font-size: 22px;">
        <%= pretty_money(@user, @average) %>
        <br/>
        <div style="font-size: 12px;">Average Expense</div>
      </strong>
    </section>
    <section>
      <strong class="stat" style="font-size: 22px;">
        <% tagNames = [] %>
        <% @tags.each do |tag| %>
          <% tagNames.push(tag.name) %>
        <% end %>
        <%= tagNames.join(', ') %>
        <br/>
        <div style="font-size: 12px;">Most Common Tags</div>
      </strong>
    </section>
  </aside>
  <div class="span8">
    <%= will_paginate %>

    <ul class="users">
      <%= render @users %>
    </ul>

    <%= will_paginate %>
  </div>
</div>

