<%= form_for @expense, :builder => StandardFormBuilder do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount, :type => 'tel', :onkeyup => "convertToFloat(this,event,2);", :value => @expense.amount ? @expense.amount : '0.00', :onfocus => 'setCursorAtEnd(this)' %>
    <%= f.label :tags %>
    <%=h f.text_field :tag_list %>
    <ul>
  </div>
  <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
<% end %>