<% provide(:title, params[:tag]) %> 
<h3> Insights </h3>
<section>
  <%= params[:tag].split(',').join(', ') %> <br/> <b>Total: &nbsp</b> <%= pretty_money(@user, @total) %>
</section>
<section>
  <b>Last Week: &nbsp</b>

  <%= pretty_money(@user, @last) %><br />
  <div><b>This Week: &nbsp</b>
    <% difference = (@last - @this) * -1 %>
    <%= pretty_money(@user, @this) %> (<div style="color:<%= difference > 0 ? 'red' : 'green'  %>; display:inline">
    <%= difference > 0 ? '+' + pretty_money(@user, difference) : '-' + pretty_money(@user, difference.abs) %></div>)</div>
</section>
<br />
<section>
  <%= render partial: 'expenses/tag_list' %>
</section>
<br />
<% if @users.count > 1 %>
    <section>
      <% @users.each do |user| %>
          <%= render partial: 'shared/user_list', locals: {:user => user} %>
      <% end %>
    </section>
<% end %>
<% if @expenses.any? %>
  <ol class="expenses">
    <%= render partial: 'shared/feed_item', collection: @expenses %>
  </ol>
<% end %>